<div class="row">
    <div class="column side">
        <ul><li><a routerLink="/update">Update my profile</a></li></ul>
        <h2>Your Details :</h2>
        <p>{{"User Id : " + userId }}<br>{{ "User Name : " + userName }}</p>
        <div *ngIf = "ifInsurance">
        <h4 *ngIf="motorInsuranceList[0]">Your insurance policy details : </h4>
        <table *ngIf="motorInsuranceList[0]">
            <tr>
                <th>Policy Number</th>
                <th>Vehicle Details</th>
                <th>Insurance Plan Type</th>
                <th>Insurance Plan Term</th>
                <th>Plan Expiry Date</th>
                <th>Premium</th>
                <th>Balance Claim Amount</th>
            </tr>
            <tr *ngFor="let motorInsurance of motorInsuranceList">
                <td>{{ motorInsurance.policyNumber }}</td>
                <td>{{ motorInsurance.vehicle.regNo}}<br> {{ motorInsurance.vehicle.manufacturer }} <br> {{ motorInsurance.vehicle.model }}</td>
                <td>{{ motorInsurance.planType }}</td>
                <td>{{ motorInsurance.noOfYrs }}</td>
                <td>{{ motorInsurance.planExpiryDate }}</td>
                <td>{{ motorInsurance.insurancePremium }}</td>
                <td>{{ motorInsurance.balanceClaimAmount }}</td>
            </tr>
        </table>
        
        <h4 *ngIf="insuranceClaimList[0]">Your insurance claim details : </h4>
        <table *ngIf="insuranceClaimList[0]">
            <tr>
                <th>Claim Number</th>
                <th>Claim Reason</th>
                <th>Claim Date</th>
                <th>Claim Status</th>
                <th>Claim Amount</th>
                <th>Policy Number</th>
            </tr>
            <tr *ngFor="let insuranceClaim of insuranceClaimList">
                <td>{{ insuranceClaim.claimNumber }}</td>
                <td>{{ insuranceClaim.claimReason }}</td>
                <td>{{ insuranceClaim.claimDate }}</td>
                <td>{{ insuranceClaim.claimStatus }}</td>
                <td>{{ insuranceClaim.claimAmount }}</td>
                <td>{{insuranceClaim.motorInsurance.policyNumber }}</td>
            </tr>
        </table>
        </div>
    </div>

    <div class="column middle">
        <h2>Our Services</h2>
        <ul>
            <div *ngIf="ifVehicle">
            <li><a routerLink="/vehicle-registration">Buy Insurance</a></li>
            </div>
            <div *ngIf="ifChoosePlan">
                <li><a routerLink="/choose-plan">Choose your Insurance and complete the payment</a></li>
            </div>
            <div *ngIf="ifPayment">
                <li><a routerLink="/payment">Complete your Payment</a></li>
            </div>
            <li><a routerLink="/renew-insurance">Renew Insurance</a></li>
            <li><a routerLink="/claim">Claim Insurance</a></li>
            <li><a routerLink="/premium-calculate">Estimate Insurance Calculation</a></li>
        </ul>
    </div>


</div>