<div id="container">
        
    <div class="border-box">
    <h2 style="color: rgb(12, 56, 34); margin:10px 30px 10px 30px;">Reset Password</h2>
    
    <form [formGroup]="ResetPassForm" (ngSubmit)="resetPass()">
        
        <input type="email" name="email" placeholder="Enter registered Email" formControlName="email" [(ngModel)]=resetP.email><br>
        <div class="text-danger" *ngIf="ResetPassForm.controls.email.touched && ResetPassForm.controls.email.hasError('required')">
            Email required
        </div>
        <div class="text-danger" *ngIf="ResetPassForm.controls.email.touched && ResetPassForm.controls.email.hasError('email')">
            Incorrect email pattern!
        </div>

        <input type="password" name="newpass1" placeholder="Enter new Password" formControlName="newpass1" [(ngModel)]=resetP.newpass1><br>
        <div class="text-danger" *ngIf="ResetPassForm.controls.newpass1.touched && ResetPassForm.controls.newpass1.hasError('pattern')">
            Weak
        </div>

        <input type="password" name="password" placeholder="Re Enter Password" formControlName="password" [(ngModel)]=resetP.password><br>
        <div class="text-danger" *ngIf="ResetPassForm.controls.password.touched && ResetPassForm.controls.password.hasError('required')">
            Re-Enter Password
        </div>

        <re-captcha (resolved)="resolved($event)" siteKey="6LdXVSgaAAAAAIaXtC6ams6pRuXO6eQq5ZHXyg9M" ></re-captcha>

        <input type="submit" value="Reset Password"  id="submit" onClick="alert('Password changed Successfully')"><br>
        
   </form>
   
</div>
        
    