<div id="form">
    <form [formGroup]="renewForm" (ngSubmit)="checkDetails(renewForm.value)">
        <p style="text-align:left">Enter Policy Number</p>
        <select name="policyNumber" formControlName="policyNumber" [(ngModel)] = "policyNumber">  
            <option *ngFor = "let policyNumber of policyNumbers" [value] = "policyNumber">{{ policyNumber }}</option>
        </select>
        <div class="text-danger" *ngIf="renewForm.controls.policyNumber.touched && renewForm.controls.policyNumber.hasError('required')">
            policy number required
        </div>

        <input type="tel" name="phoneNo" placeholder="Enter Mobile Number" formControlName="phoneNumber" [(ngModel)]="phoneNo"/>
        <div class="text-danger" *ngIf="renewForm.controls.phoneNumber.touched && renewForm.controls.phoneNumber.hasError('required')">
            Mobile number required
        </div>
        <div class="text-danger" *ngIf="renewForm.controls.phoneNumber.touched && renewForm.controls.phoneNumber.hasError('pattern')">
            Mobile number must be 10 digits
        </div>

        <input type="email" name="email" placeholder="Email" formControlName="email" [(ngModel)]="email"/>
        <div class="text-danger" *ngIf="renewForm.controls.email.touched && renewForm.controls.email.hasError('required')">
            email required
        </div>
        <div class="text-danger" *ngIf="renewForm.controls.email.touched && renewForm.controls.email.hasError('pattern')">
           Incorrect email pattern
        </div>

        <input type="submit" [disabled]="!renewForm.valid" value="submit"/>
    </form>
</div>
