<!-- <app-register></app-register>-->
<div class="header">
    <h1>General Insurance Website</h1>
    <p>India's largest online insurance aggregator</p>
</div>
<div id="navigation">
    <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="contact">Contact</a></li>
        <li><a routerLink="aboutus">About Us</a></li>
        <li><a routerLink="help">Help</a></li>
        <li><a routerLink="faq">FAQ</a></li>
        <li style="float: right;"><a routerLink="register">Sign Up/Register</a></li>
    </ul>
</div>
<router-outlet></router-outlet>