<div id="form">
    <form [formGroup]="VehicleForm" (ngSubmit)="saveVehicle()" novalidate>


        <!--<input type="radio" id="two" value="two" name="type" formControlName="type">
    <label for="two">2 -Wheeler</label>  
    <input type="radio" id="four" value="four" name="type" formControlName="type">
    <label for="four">4 -Wheeler</label> -->

        <input type="text" name="manufacturer" placeholder="Manufacturer" formControlName="manufacturer" [(ngModel)]=vehicle.manufacturer><br>
        <div class="text-danger" *ngIf="VehicleForm.controls.manufacturer.touched && VehicleForm.controls.manufacturer.hasError('required')">
            *Required
        </div>

        <input type="text" name="model" placeholder="Model" formControlName="model" [(ngModel)]=vehicle.model><br>
        <div class="text-danger" *ngIf="VehicleForm.controls.model.touched && VehicleForm.controls.model.hasError('required')">
            *Required
        </div>

        <input type="text" name="license" placeholder="Driving License" style="text-transform:uppercase" formControlName="license" [(ngModel)]=vehicle.drivingLicense><br>
        <div class="text-danger" *ngIf="VehicleForm.controls.license.touched && VehicleForm.controls.license.hasError('required')">
            *Required
        </div>

        <input type="date" name="purchaseDate" placeholder="Purchase Date" formControlName="purchaseDate" [(ngModel)]=vehicle.purchaseDate><br>
        <div class="text-danger" *ngIf="VehicleForm.controls.purchaseDate.touched && VehicleForm.controls.purchaseDate.hasError('required')">
            *Required
        </div>

        <input type="text" name="regno" placeholder="Registration Number" style="text-transform:uppercase" formControlName="regNo" [(ngModel)]=vehicle.regNo><br>
        <div class="text-danger" *ngIf="VehicleForm.controls.regNo.touched && VehicleForm.controls.regNo.hasError('required')">
            *Required

        </div>
        <div class="text-danger" *ngIf="VehicleForm.controls.regNo.touched && VehicleForm.controls.regNo.hasError('pattern')">
            Invalid Registration Number
        </div>

        <input type="text" name="engineno" placeholder="Engine Number" style="text-transform:uppercase" formControlName="engineno" [(ngModel)]=vehicle.engineNumber><br>
        <div class="text-danger" *ngIf="VehicleForm.controls.engineno.touched && VehicleForm.controls.engineno.hasError('required')">
            *Required
        </div>

        <input type="text" name="chassisno" placeholder="Chassis Number" style="text-transform:uppercase" formControlName="chassisno" [(ngModel)]=vehicle.chassisNumber><br>
        <div class="text-danger" *ngIf="VehicleForm.controls.chassisno.touched && VehicleForm.controls.chassisno.hasError('required')">
            *Required
        </div>

        <input type="submit" value="Choose Plan">

    </form>
</div>