#form {
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 10px 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

#xyz {
    display: none;
}

#form label {
    float: left;
    margin: 15px 5px 5px 10px;
    ;
}

input[type=text],
input[type=date] {
    width: 100%;
    margin: 5px 5px 5px 2px;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
}

input,
.btn {
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 20px 5px 20px 20px;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

.box {
    text-align: center;
    background-color: rgb(230, 131, 66);
    padding: 15px;
    margin: 0 50px 0 50px;
    font-size: 30px;
}

input[type=radio] {
    float: left;
    margin: 20px 0px 20px 20px;
}

input[type=submit] {
    float: center;
    padding: 5 15px 5px 15px;
    margin: 0 150px 0 150px;
    background-color: rgb(230, 131, 66);
}

div.text-danger {
    color: red;
    text-align: right;
}

.box1 {
    float: left;
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    margin: 0 20px 0 20px;
}

.container {
    width: 100%;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style: none;
    display: inline-block;
    width: 25%;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
}

.progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: rgb(230, 131, 66);
}

.progressbar li.active:before {
    border-color: rgb(230, 131, 66);
}

.progressbar li.active+li:after {
    background-color: rgb(230, 131, 66);
}