<div id="container">

    <h2 style="color: rgb(12, 56, 34); margin:10px 30px 10px 30px;">Forgot Password</h2>

    <form [formGroup]="ForgotpassForm" (ngSubmit)="forgotPass()">

        <input type="email" name="email" placeholder="Enter registered Email" formControlName="email" [(ngModel)]=forgotP.emailId><br>
        <div class="text-danger" *ngIf="ForgotpassForm.controls.email.touched && ForgotpassForm.controls.email.hasError('required')">
            Email required
        </div>
        <div class="text-danger" *ngIf="ForgotpassForm.controls.email.touched && ForgotpassForm.controls.email.hasError('email')">
            Incorrect email pattern!
        </div>

        <input type="button" value="Generate OTP" id="otpGen" (click)="generateOtp()"><br>

        <input type="number" name="otp" placeholder="Enter otp number" formControlName="otp" [(ngModel)]=forgotP.otpNumber><br>
        <div class="text-danger" *ngIf="ForgotpassForm.controls.otp.touched && ForgotpassForm.controls.otp.hasError('required')">
            otp required
        </div>

        <input type="password" name="newpass1" placeholder="Enter new Password" formControlName="newpass1" [(ngModel)]=forgotP.newpass1><br>
        <div class="text-danger" *ngIf="ForgotpassForm.controls.newpass1.touched && ForgotpassForm.controls.newpass1.hasError('pattern')">
            Weak
        </div>

        <input type="password" name="password" placeholder="Confirm Password" formControlName="password" [(ngModel)]=forgotP.password><br>
        <div class="text-danger" *ngIf="ForgotpassForm.controls.password.touched && ForgotpassForm.controls.password.hasError('required')">
            Re-Enter Password
        </div>

        <re-captcha (resolved)="resolved($event)" siteKey="6LdXVSgaAAAAAIaXtC6ams6pRuXO6eQq5ZHXyg9M"></re-captcha>

        <input type="submit" value="Reset Password" id="submit"><br>

    </form>

</div>