<div class="row">
    <div class="column side">
        <h2>Why Insurance?</h2>
        <p>When you buy insurance from us, you get more than just financial safety. You also get: our promise of simplifying complex insurance terms and conditions, quick stress-free claims, instant quotes from top insurers and being present for you in the
            toughest of times.</p>
    </div>

    <div class="column middle">
        <h2>Our Services</h2>
        <ul>
            <li><a routerLink="/register">Buy Insurance</a></li>
            <li><a routerLink="/renew-insurance">Renew Insurance</a></li>
            <li><a routerLink="/claim">Claim Insurance</a></li>
            <li><a routerLink="/premium-calculate">Estimate Insurance Calculation</a></li>
        </ul>
    </div>


</div>