<div id="form">
    <h2 style="font-weight: normal;">Welcome to Policy Insurance, register on our portal!</h2>
    <form>
        <input type="text" name="userName" placeholder="Enter Name" required><br>
        <input type="email" name="email" placeholder="Enter Email" required><br>
        <input type="date" name="dateOfBirth" placeholder="Enter Date Of Birth" required><br>
        <input type="number" name="userPhoneNo" placeholder="Enter Phone" required><br>
        <input type="text" name="landmark" placeholder="Address line 1" required><br>
        <input type="text" name="city" placeholder="City" required><br>
        <input type="text" name="state" placeholder="State" required><br>
        <input type="number" name="pincode" placeholder="Pin" required><br>
        <input type="password" name="password1" placeholder="Create Password" required><br>
        <input type="password" name="password2" placeholder="Confirm Password" required><br>
        <input type="submit" value="Register">
    </form>
</div>